/* Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utility */

.c-white{
    color: white;
}

.c-green{
    color: rgb(65, 193, 4);
}

body{
    background-color: black;
}
/* Header */

header{
    height: 30px;
}

.menu-view{
    text-align: right;
}

.menu-view-left,
.menu-view-right{
    display: inline-block;
    background-color: #4a4a4a;
    border-radius: 5px;
    padding: 0 5px;
    margin-top: 5px;
}

.fa-grip,
.fa-maximize{
    margin: 5px;
}

/* Main */

main{
    background-color: black;
    height: calc(100vh - 100px);

}









/* Footer */

footer{
    height: 70px;
    background-color: rgb(26, 26, 26);
    display: flex;
    justify-content: space-between;
}

.menu-left{
    height: 100%;
    display: flex;
    align-items: center;
}

.icon-left{
    display: flex;
    flex-direction: column;
    padding: 15px;
    align-items: center;
}

.icon-left i{
    font-size: 20px;
    padding-bottom: 5px;
}

.menu-center{
    height: 100%;
    display: flex;
    align-items: center;
    /* flex-basis: 50%; */
}

.icon-center{
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
}

.icon-center i{
    font-size: 20px;
    padding-bottom: 5px;
}

.menu-right{
    height: 100%;
    display: flex;
    align-items: center;
    background-color: rgb(57, 57, 57);
}

.menu-right span{
    color: red;
    padding: 0 15px;
}
